#!/bin/bash
set -euo pipefail

# Updates Bare Metal file.
tmp=$(mktemp -d)

curl -fsS https://raw.githubusercontent.com/usegalaxy-eu/vgcn-infrastructure-playbook/main/hosts | awk -v pssh_dir="$tmp" '
/^\[/ { group = substr($1, 2, length($1)-2); next }
/.*\.bi\.privat/ {
    hostname = $1
    file = pssh_dir "/" group
    print hostname >> file
    print hostname >> pssh_dir "/bare-metal"
}
'
cp -r $tmp/* /etc/pssh/
